@font-face {
    font-family: Fira Sans;
    src: url(FiraSans-Regular.ttf);
}

body {
    background-color: rgba(197, 242, 251, 0.638);
    text-shadow:4px 4px 4px blanchedalmond;
    text:opacity(0);
}
button:hover {
    transform:scale(.95);
    cursor:pointer;
}

button:active {
    transform:scale(.8);
    opacity: .75;
    cursor:pointer;
}



ul {
    list-style-type: none;
}


body {
    font-family: Fira Sans;
}

.title,
.newBookBtn {
    text-align: center;
}

.title {
    margin:30px 0 30px 0;
    font-size:1.8rem;
    font-weight:800;
}

#newBook {
    outline:none;
    background:none;
    border:none;
    margin-bottom:20px;
    margin-left:25px;
}

#newBook img {
    position:absolute;
    top:-3px;
    left:-30px;
}

#newBook span {
font-size:1.1rem;
font-style: italic;
color:gray;
grid-column:2;
position:relative;

}

#bookCards {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(30px,400px));
    column-gap:20px;
    row-gap:20px;
    justify-content: space-around;
}

#bookCards > * {
    background-color:rgba(255, 235, 205, 0.64);
    border:solid rgb(145, 145, 145);
    border-radius:10px;
    box-shadow: 5px 5px rgba(212, 212, 212, 0.582);
}

.removeBtn,
.readBtn {
margin-left:40px;
outline: none;
border:none;
background:none;
}

.removeBtn::before{
content:url(svgs/trash-2.svg);
}

.readBtn::before{
content:url(svgs/book-open.svg);
}


/*Pop up form css */
#popupForm {
display:grid;
grid-template-columns: 340px ;
grid-template-rows:repeat(auto-fit);
justify-content: center;
margin-bottom:20px;

}

#popupForm form {
padding: 20px;
border:solid cadetblue 5px;
box-shadow: 3px 3px 3px rgba(95, 158, 160, 0.473);
border-radius:15px;
}


.form-row1 {
display:grid;
grid-template-columns: 60px 180px;
grid-template-rows: 25px;
margin-bottom:20px;
}

.form-row1 label {
justify-self:end;
}

.form-row1 input[type="text"],
.form-row1 input[type="tel"],
.form-row1 input[type="radio"] {
margin-left:30px;
}

.form-row1 input[type="text"],
.form-row1 input[type="tel"] {
font-family:Fira Sans;
width:190px;
appearance:none;
background-color:bisque;
border-radius:5px;
border:none;
outline:none;

}

.form-row1 input[type="text"]:focus,
.form-row1 input[type="tel"]:focus {
border:solid 1px gray;
box-shadow: 3px 3px 7px gray ;

} 

.radios label {
    cursor:pointer;
}

input[type="radio"]{
    cursor:pointer;
}


input[type="submit"] {
display:flex;
margin-left:auto;
margin-right:auto;

}

.form-row2 input{
    border:solid 1px gray;
    border-radius:10px;
    background:none;
    font-family: Fira Sans;
    padding:5px 10px;
    cursor:pointer;
}

.form-row2 input:active {
    transform:scale(.95);
    box-shadow:inset 2px 2px 4px gray;
}



/*Initially hide PopUpForm*/
.formHidden {
display:none !important;
}

.formDisplay {
display:block;
}

